<a href="https://colab.research.google.com/github/hongwon2/coding-test/blob/main/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8_%EA%B3%B5%EB%B6%80_%EB%AA%A8%EC%9D%8C%EC%A7%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2022/06/28

### Python

- https://www.acmicpc.net/problem/2588

In [ ]:
a = int(input())
b = input()

a1 = a * int(b[2])
a2 = a * int(b[1])
a3 = a * int(b[0])
a4 = a * int(b)

print (a1, a2, a3, a4, sep='\n')

123
456
738
615
492
56088

## SQL

- https://solvesql.com/problems/multiple-medalist/

In [ ]:
SELECT *
FROM records r LEFT JOIN teams t ON r.team_id = t.id
               LEFT JOIN athletes a ON r.athlete_id = a.id
               LEFT JOIN games g ON r.game_id = g.id
WHERE g.year >= 2000 AND r.medal IS NOT NULL
GROUP BY athlete_id
HAVING COUNT(distinct team) > 1

# 2022/06/29

## Python

- [알람시계](https://ooyoung.tistory.com/28)

In [ ]:
H, M = map(int, input().split())

if M < 45 :	# 분단위가 45분보다 작을 때 
    if H == 0 :	# 0 시이면
        H = 23
        M += 60
    else :	# 0시가 아니면 (0시보다 크면)
        H -= 1	
        M += 60
        
print(H, M-45)

- [오븐시계](https://www.acmicpc.net/problem/2525)

In [ ]:
H, M = map(int, input().split())
timer = int(input()) 

H += timer // 60
M += timer % 60

if M >= 60:
    H += 1
    M -= 60
if H >= 24:
    H -= 24

print(H,M)

## SQL

- [복수 국적의 수상한 선수 찾기](https://solvesql.com/problems/multiple-medalist/)

In [ ]:
select
  a.name
from
  records as r
  left join athletes as a on r.athlete_id = a.id
  left join games as g on r.game_id = g.id
  left join teams as t on r.team_id = t.id
where
  g.year >= 2000
  and r.medal is not null
group by athlete_id
having count(distinct team) >= 2
order by name

- [할부는 몇 개월로 해드릴까요](https://solvesql.com/problems/installment-month/)

In [ ]:
select payment_installments,
       count(distinct order_id) as order_count,
       min(payment_value) as min_value,
       max(payment_value) as max_value,
       avg(payment_value) as avg_value
from olist_order_payments_dataset
where payment_type = 'credit_card'
group by payment_installments